.footer-сontact-information {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.contact-item {
  text-align: center;
  width: 300px;
}

.contact-item img {
  margin: 0 95px 30px;
}

.contact-item h3 {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

  .contact-form {
    text-align: center;
  }

  .footer-сontact-information {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    padding-bottom: 35px;
  }

  .contact-form input[type='text'],
  .contact-form textarea {
    width: 75%;
    height: 28px;
  }

}
