.wood-map {
  position: relative;
}

.wood-map-img {
  position: relative;
  background-color: #ffffff;
  height: 100%;
}

.wood-map-img img {
  width: 100%;
}

.pulse-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background: white;
  cursor: pointer;
}

.pulse-button__rings {
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
  z-index: -1;
  cursor: pointer;
}

.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}

.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}

@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }

  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }

  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }

  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}

.dropdown {
  display: flex;
  position: absolute;
  z-index: 1;
  max-width: 400px;
}

.first-drop {
  left: 48%;
  top: 13%;
}

.second-drop {
  left: 30%;
  top: 30%;
}

.third-drop {
  left: 50%;
  top: 55%;
}

.fourth-drop {
  left: 30%;
  top: 70%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  padding: 0 50px;
  animation: dropdown 0.6s forwards;
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-content > a {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-content > h3 {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  min-width: 200px;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {

  .pulse-button {
    width: 20px;
    height: 20px;
  }
  
  .dropdown-content > a {
    font-size: 16px;
    padding: 4px;
  }

  .dropdown-content > h3 {
    font-size: 18px;
    padding: 4px;
  }

  .dropdown-content {
    padding: 0 40px;
  }

  .first-drop {
    left: 28%;
    top: 8%;
  }

  .second-drop {
    left: 38%;
    top: 40%;
  }

  .third-drop {
    left: 30%;
    top: 75%;
  }

  .fourth-drop {
    left: 32%;
    top: 50%;
  }

}