.container {
  padding: 10px 56px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
	text-decoration: none;
	color: #000;
	position: relative;
  font-size: 18px;
}

a:after {
	content: '';
	width: 0px;
	height: 2px;
	background: #000000;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .5s;
}

ul li:hover a:after {
	width: 100%;
	transform: translationX(100%);
}

.logo {
  height: 50px;
}
